PracticaFluidos/.vs/
PracticaFluidos/projects/Debug/
PracticaFluidos/FluidSolver.VC.db
PracticaFluidos/Debug/FluidSolver.pdb
PracticaFluidos/Debug/FluidSolver.ilk
PracticaFluidos/Debug/FluidSolver.exe
